* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/*Wrapper*/
.main {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.main p {
    color: #000;
    font-size:1.2rem;
    padding-right:200px
}

#root-table-scroll {
    #height:150px;
    font-size:1rem;
    width:45rem;
    height:480px;
    overflow:scroll;  
    margin-top:2px;
}

.main textarea {
    color: #111;
    background-color: #eee;
    font-size:1rem;
    width:45rem;
    #height:540px;
}

.main select {
    color: #111;
    background-color: #eee;
}
 
.main select#allroots {
    font-size:.75rem;
    color: #111;
    background-color: #eee;
}
 
.main input {
    color: #111;
    background-color: #eee;
}
 

/*Switched Off*/
input#lightswitch:checked + .main {
  background: #222;
}
 
input#lightswitch:checked + .main div {
    color: #ddd;
    background-color: #111
}

input#lightswitch:checked + .main a {
    color: #ddd;
    background-color: #111
}

input#lightswitch:checked + .main textarea {
    color: #ddd;
    background-color: #111
}

input#lightswitch:checked + .main select {
    color: #ddd;
    background-color: #111
}
 
input#lightswitch:checked + .main input {
    color: #ddd;
    background-color: #111
}
 
input#lightswitch:checked + .main h2 {
  color: #ddca7e;
}
input#lightswitch:checked + .main h2:after {
  content: " Off"
}
 
input#lightswitch:checked + .main p {
    color: #aaa;
}
 
input#lightswitch:checked + .main > .headerimage {
  background: url(http://lorempixum.com/900/400/city/4);
  border: 8px solid #fff;
}

/*Light Switch*/
label {
  display: block;
  height: 25px;
  width: 100px;
  background: #eee;
  text-align: center;
  font: 14px/25px Helvetica, Arial, sans-serif;
  margin: 0px 0;
  position: fixed;
}

label:hover {
  background: #ddca7e;
  color: #fff;
  cursor: pointer;
}

input#lightswitch {
   position: absolute;
   top: -9999px;
   left: -9999px;
}